body {
    padding: 5px;
}

h1 {
    font-family: 'Lexend Deca';
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: 'Lexend Deca';
    font-size: 20px;
    margin: 0px;
}

p {
    font-family: 'Lexend Deca';
    font-size: 15px;
}

.settingsButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

form > input{
    padding: 3px;
    margin: 5px;
    justify-content: right;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 100px;
}