body {
    padding: 5px;
    /* background-color: rgb(248, 240, 227); */
    background-image: url("backgroundTileSmall.png");
    background-repeat: repeat;
}

h1 {
    font-family: 'Lexend Deca';
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: 'Lexend Deca';
    font-size: 20px;
    margin: 0px;
    font-weight: normal;
}

p {
    font-family: 'Lexend Deca';
    font-size: 15px;
}

.settingsButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

form > input{
    padding: 3px;
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.screenshot {
    background-image: url("screenshotButton.svg");
}

.wholePage {
    background-image: url("wholePageButton.svg");
}

.translatedText {
    font-family: 'Lexend Deca';
    font-size: 12px;
    line-height: normal;
    word-spacing: normal;
    background-color: rgb(248, 240, 227); 
    color: black;
}